<h1>Remember Your Run</h1>
<h3>Running is healthy. Remember what you did!</h3><br>

<h5><%= link_to "Fastest Overall Runs", runs_fastest_pace_path %></h5>
<h5><%= link_to "My Fastest Overall Runs", user_fastest_runs_path %></h5>
<h5><%= link_to "Longest Overall Runs", runs_longest_runs_path %></h5>

<strong><h2>Your Previous Runs</h2></strong>
<% @months.each do |month| %>
  <h3><a href="" class="js-month-info" data-id="<%= month.id %>"><%= "#{month.name} #{month.year}" %></a></h3>
    <div class="month_goal-<%= month.id %>"></div>
    <!-- Container where the run info will populate.  but the formatting is done from the months.js file.  -->
    <div class="month_container-<%= month.id %>"></div>
<% end %>

<br>
<%= render 'runs/errors', model: @month %>

<section class="main">
  <strong><h2>Start a New Running Month</h2></strong>
  <%= form_for @month do |f| %>
    <%= f.label :month%>
    <%= f.text_field :name, placeholder: (@month.errors.full_messages_for(:name).first) %>

    <%= f.label :year %>
    <%= f.text_field :year, placeholder: (@month.errors.full_messages_for(:year).first) %><br>

    <%= f.label :goal %>
    <%= f.text_field :goal, size: "49" %><br>

    <%= f.submit %>
  <% end %>
</section>

<section class="info">
<%= link_to "Logout", logout_path %>
<p>You're currently logged in as: <%= current_user.email  %></p>

</section>
