<h1>Remember Your Run</h1>
<h3>Running is healthy. Remember what you did!</h3><br>

<h2>Fastest Overall Runs</h2>
<% @runs.each.with_index(1) do |run, i| %>
  <%= i %>). &ensp; <%= run.date %> &emsp; <%= run.name %> &emsp; <%= run.pace_per_mile %> per mile<br>
<% end %>

<strong><h2>Your Previous Runs</h2></strong>
<% @months.each do |month| %>
  <%= link_to(month) do %>
    <h3><%= month.name %> <%= month.year %></h3>
  <% end %>
<% end %>

<br>

<section class="main">
  <strong><h2>Start a New Running Month</h2></strong>
  <%= form_for @month do |f| %>
    <%= f.label :month%>
    <%= f.text_field :name, placeholder: (@month.errors.full_messages_for(:name).first) %>  <!--, class: "new-todo" -->

    <%= f.label :year %>
    <%= f.text_field :year, placeholder: (@month.errors.full_messages_for(:year).first) %><br>

    <%= f.label :goal %>
    <%= f.text_field :goal, size: "49" %><br>

    <%= f.submit %>
  <% end %>
</section>
