<h2>Create a New Run</h2>

<% if @run.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@run.errors.count, "error") %> stopped your new run from being created:</h2>

    <ul>
    <% @run.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<!-- For NESTED RESOURCE... Below... ([@month, @run]).
@month is parent, and @run is MAIN source for this form.
Will send this action to... month_runs_path(@month) -->

<%= render 'runs/form' %>

<%= form_for([@month, @run]) do |f| %>
  <%= f.label :date %>
  <%= f.text_field :date, placeholder: (@run.errors.full_messages_for(:date).first || "Example 3/21"), size: "16"  %>

  <%= f.label :name %>
  <%= f.text_field :name, placeholder: (@run.errors.full_messages_for(:name).first) %><br>

  <%= f.label :distance %>
  <%= f.text_field :distance, placeholder: (@run.errors.full_messages_for(:distance).first || "Example 2.7"), size: "40" %><br>

  <%= f.label :duration %>
  <%= f.text_field :duration, placeholder: (@run.errors.full_messages_for(:duration).last || "Example 28:45"), size: "40" %><br>

  <%= f.label :number_intervals %>
  <%= f.text_field :number_intervals, size: "40" %><br>

  <%= f.label :interval_length %>
  <%= f.text_field :interval_length, placeholder: (@run.errors.full_messages_for(:interval_length).last || "Example 1:15"), size: "40" %><br>

  <%= f.label :rest_between_interval %>
  <%= f.text_field :rest_between_interval, placeholder: (@run.errors.full_messages_for(:rest_between_interval).last || "Example 4:00"), size: "40" %><br>

  <%= f.label :notes %>
  <%= f.text_field :notes, size: "80" %>

  <%= f.submit %>
<% end %>

<br><br>

<h1><%= @month.name %> <%= @month.year %> Log</h1>
<h3>Total Mileage This Month: <%= @month.month_mileage %></h3>
<!-- <h2>Total Time Running This Month: <%#= @month.month_total_run_time %></h2> -->
<h3>Average Pace Per Mile This Month: <%= @month.month_pace %></h3>
<h3>Month Goal: <%= @month.goal %></h3>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Distance (Miles)</th>
    <th>Time</th>
    <th>Pace / Mile</th>
    <th>Number of Intervals</th>
    <th>Interval Length</th>
    <th>Rest Between Intervals</th>
    <th>Notes</th>
  </tr>

  <% @runs.each do |run| %>
    <tr>
      <td><%= link_to run.date, month_run_path(run.month, run) %></td>
      <td><%= run.name %></td>
      <td><%= run.distance %></td>
      <td><%= run.duration %></td>
      <td><%= run.format_pace_per_mile %></td>
      <td><%= run.number_intervals %></td>
      <td><%= run.format_interval_length %></td>
      <td><%= run.format_rest_between %></td>
      <td><%= run.notes %></td>
    </tr>
  <% end %>
</table>
