<h2>Create a New Run</h2><br><br>

<!-- For NESTED RESOURCE... Below... ([@month, @run]).
@month is parent, and @run is MAIN source for this form.
Will send this action to... month_runs_path(@month) -->
<%= form_for([@month, @run]) do |f| %>
  <%= f.label :date %>
  <%= f.text_field :date, placeholder: "Example 3/21", size: "15"  %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :distance %>
  <%= f.text_field :distance, size: "7" %>

  <%= f.label :duration %>
  <%= f.text_field :duration, size: "7" %><br>

  <%= f.label :notes %>
  <%= f.text_field :notes, size: "80" %>

  <%= f.label :number_intervals %>
  <%= f.text_field :number_intervals, size: "7" %>

  <%= f.label :interval_length %>
  <%= f.text_field :interval_length, size: "7" %>

  <%= f.label :rest_between_interval %>
  <%= f.text_field :rest_between_interval, size: "7" %>

  <%= f.submit %>
<% end %>

<h1><%= @month.name %> <%= @month.year %> Log</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Distance (Miles)</th>
    <th>Time</th>
    <th>Pace / Mile</th>
    <th>Notes</th>
    <th>Number of Intervals</th>
    <th>Interval Length</th>
    <th>Rest Between Intervals</th>
  </tr>

  <% @runs.each do |run| %>
    <tr>
      <td><%= link_to run.date, month_run_path(run) %></td>     <!-- link_to      , run_path(run)-->
      <td><%= run.name %></td>
      <td><%= run.distance %></td>
      <td><%= run.duration %></td>
      <td><%= run.format_pace_per_mile %></td>
      <td><%= run.notes %></td>
      <td><%= run.number_intervals %></td>
      <td><%= run.format_interval_length %></td>
      <td><%= run.format_rest_between %></td>
    </tr>
  <% end %>
</table>
