<h2>Create a New Run</h2>

<% if @run.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@run.errors.count, "error") %> stopped your new run from being created:</h2>

    <ul>
    <% @run.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<!-- For NESTED RESOURCE... Below... ([@month, @run]).
@month is parent, and @run is MAIN source for this form.
Will send this action to... month_runs_path(@month) -->
<%= form_for([@month, @run]) do |f| %>
<%= render 'runs/form', f: f %>

<br><br>

<h1><%= @month.name %> <%= @month.year %> Log</h1>
<h3>Total Mileage This Month: <%= @month.month_mileage %></h3>
<!-- <h2>Total Time Running This Month: <%#= @month.month_total_run_time %></h2> -->
<h3>Average Pace Per Mile This Month: <%= @month.month_pace %></h3>
<h3>Month Goal: <%= @month.goal %></h3>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Distance (Miles)</th>
    <th>Time</th>
    <th>Pace / Mile</th>
    <th>Number of Intervals</th>
    <th>Interval Length</th>
    <th>Rest Between Intervals</th>
    <th>Notes</th>
  </tr>

  <% @runs.each do |run| %>
    <tr>
      <td><%= link_to run.date, month_run_path(run.month, run) %></td>
      <td><%= run.name %></td>
      <td><%= run.distance %></td>
      <td><%= run.duration %></td>
      <td><%= run.format_pace_per_mile %></td>
      <td><%= run.number_intervals %></td>
      <td><%= run.format_interval_length %></td>
      <td><%= run.format_rest_between %></td>
      <td><%= run.notes %></td>
    </tr>
  <% end %>
</table>
