<h1>Signup for Remember Your Run!</h1>

<%= render 'runs/errors', model: @user %>

<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email%><br>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "(hidden)" %><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, placeholder: "(hidden)" %><br>
  <%= f.submit %>
<% end %>
