<h1>Remember Your Run</h1>
<h3>Running is healthy. Remember what you did!</h3><br>

<strong><h2>Your Previous Runs</h2></strong>
<% @calendars.each do |calendar| %>
  <%= link_to(calendar) do %>
    <h3><%= calendar.name %> <%= calendar.year %></h3>
  <% end %>
<% end %>

<br>

<section class="main">
  <strong><h2>Start a New Running Month</h2></strong>
  <%= form_for @calendar do |f| %>
    <%= f.label :month %>
    <%= f.text_field :name %>  <!--, class: "new-todo" -->

    <%= f.label :year %>
    <%= f.text_field :year %><br>

    <%= f.label :goal %>
    <%= f.text_field :goal, size: "49" %><br>

    <%= f.submit %>
  <% end %>
</section>
