<h1>Your Logged Runs</h1>

<table>
<tr>
  <th>Date</th>
  <th>Name</th>
  <th>Distance (Miles)</th>
  <th>Time</th>
  <th>Pace / Mile</th>
  <th>Number of Intervals</th>
  <th>Interval Length</th>
  <th>Rest Between Intervals</th>
  <th>Notes</th>
</tr>



<% @runs.each do |run| %>
  <tr>
    <td><%= link_to run.date, month_run_path(run.month, run) %></td>
    <td><%= run.name %></td>
    <td><%= run.distance %></td>
    <td><%= run.duration %></td>
    <td><%= run.format_pace_per_mile %></td>
    <td><%= run.number_intervals %></td>
    <td><%= run.format_interval_length %></td>
    <td><%= run.format_rest_between %></td>
    <td><%= run.notes %></td>
  </tr>
<% end %>

</table>
