<h1>Your Logged Runs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Distance (Miles)</th>
    <th>Time</th>
    <th>Pace / Mile</th>
    <th>Notes</th>
    <th>Number of Intervals</th>
    <th>Interval Length</th>
    <th>Rest Between Intervals</th>
  </tr>

  <% @runs.each do |run| %>
    <tr>
      <td><%= run.name %></td>
      <td><%= link_to run.date, run_path(run) %></td>
      <td><%= run.distance %></td>
      <td><%= run.duration %></td>
      <td><%= run.pace_per_mile %></td>
      <td><%= run.notes %></td>
      <td><%= run.number_intervals %></td>
      <td><%= run.interval_length %></td>
      <td><%= run.rest_between_interval %></td>
    </tr>
  <% end %>
</table>
