<h1>I bet you went for a run today.</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Distance (Miles)</th>
    <th>Time</th>
    <th>Pace / Mile</th>
    <th>Number of Intervals</th>
    <th>Interval Length</th>
    <th>Rest Between Intervals</th>
    <!-- <th>Notes</th> -->
    <th></th>
  </tr>

    <tr>
      <td><%= @run.date %></td>
      <td><%= @run.name %></td>
      <td><%= @run.distance %></td>
      <td><%= @run.duration %></td>
      <td><%= @run.format_pace_per_mile %></td>
      <td><%= @run.number_intervals %></td>
      <td><%= @run.format_interval_length %></td>
      <td><%= @run.format_rest_between %></td>
      <!-- <td><%#= @run.notes %></td> -->
      <td><%= link_to "Edit", edit_month_run_path(@run.month, @run) %> | Delete</td>
    </tr>
</table>

<br>

<strong><p>Notes</p></strong>
<p><%= @run.notes %></p>
