<h1>You Went For a Run on <%= @run.date %></h1>

<a href="#" class="js-next-run" data-id="<%=@run.id%>">Next Run</a>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Distance (Miles)</th>
    <th>Time</th>
    <th>Pace / Mile</th>
    <th>Number of Intervals</th>
    <th>Interval Length</th>
    <th>Rest Between Intervals</th>
  </tr>

    <tr>
      <td id="runDate"><%= @run.date %></td>
      <td id="runName"><%= @run.name %></td>
      <td id="runDistance"><%= @run.distance %></td>
      <td id="runDuration"><%= @run.duration %></td>
      <td id="runPacePerMile"><%= @run.format_pace_per_mile %></td>
      <td id="runNumberIntervals"><%= @run.number_intervals %></td>
      <td id="runIntervalLength"><%= @run.format_interval_length %></td>
      <td id="runRestBetween"><%= @run.format_rest_between %></td>
    </tr>
</table>

<br>

<strong><p>Notes</p></strong>
<p><%= @run.notes %></p>

<%= button_to "Edit", edit_month_run_path(@run.month, @run), method: :get %>
<%= button_to "Delete", month_run_path(@run.month, @run), method: "delete", class: "destroy" %>
