<!DOCTYPE html>
<html>
  <head>
    <title>RememberYourRun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Home", months_path %>
    <%= yield %>
    <div class="svgAttribution">
      <a target="_blank" href="https://www.svgbackgrounds.com">Background image created by the smart folks at SVGBackgrounds.com</a>
  </div>
  </body>
</html>



<!-- What lines 8 and 9 used to look like... -->
<%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
